:root {

    --dark-light: #414141;
    --dark-text: #6d6d6d;
    --dark-solve: #212121;
    --dark-inter: #323232;
    --light-text: #f7f7f7;
    --yellow-text: #f0ee74;
    --error-text: #c70b0b;

}

.text-alert {

    color: var(--yellow-text);

}

.text-output {

    color: var(--light-text);

}

.text-dangerios {

    color: var(--error-text);

}

.bg-dark-light {

    background-color: var(--dark-light);

}

main {

    width: 100%;
    height: 100%;
    background-color: aqua;

}

.command {

    padding: 1rem;
    display: flex;
    justify-content: center;

}

.command:hover {

    scale: 1.1;

}

.command-icon {

    width: 2.5rem;
    height: 2.5rem;

}

body {

    background-color: var(--dark-light);

}

#commands {

    width: 7%;
    height: 100%;
    background-color: var(--dark-light);

}

#view-right {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--dark-inter);

}

.editor {

    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 60%;
    background-color: var(--dark-inter);

}

#terminal {

    color: var(--light-text);
    border: var(--dark-solve) 1px solid;
    overflow: auto;
    outline: none;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 85%;
    background-color: var(--dark-solve);

}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    padding: 5px;
}

#inputField {

    color: var(--light-text);
    outline: none;
    background-color: #21212100;

}

.input span {
    margin-right: 5px;
}

.input input {
    flex-grow: 1;
    border: none;
}

.output {
    flex-grow: 1;
    overflow-y: scroll;
    height: 100%;
}

#outputArea {

    display: flex;
    flex-direction: column;

}

#outputArea span{

    margin-left: 1rem;
    margin-bottom: 0.5rem;

}