<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../../public/css/style.css">

<footer class="bg-dark text-light p-3">

    <div class="d-flex justify-content-center mt-2">

        <div class="d-block">
    
            <div class="d-flex justify-content-center mb-3">

                <a href="https://github.com/WilkerSebastian/HV-compiler" class="link-conteudo">GITHUB</a>

            </div>
            <p class="fs-6">COPYRIGHT © 2023 WILKER SEBASTIAN AFONSO PEREIRA TODOS OS DIREITOS RESERVADOS.</p>

        </div>
        
    </div>
    
</footer>