<div class="modal fade" id="test-modal" tabindex="-1" aria-labelledby="test-modal-label" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 100%;">
      <div class="modal-content" style="width: 50vw; height: 65vh; margin-left: auto; margin-right: auto;">
        <div class="modal-header bg-warning">
          <h1 class="modal-title fs-5" id="config-modal-label">Teste</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">

            <section id="test" class="overflow-y-scroll w-100 h-100">

                

            </section>
          
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">fechar</button>
        </div>
      </div>
    </div>
</div>