@import url("./var.css");

.title-debug {

    text-align: center;
    font-size: 1.2rem;
    color: var(--cont-title);

}

.medidor-debug {

    text-align: center;
    font-size: 1.5rem;
    color: var(--light-text);

}

.status {

    width: 100%;
    height: 50%;
    border-top: 2.5px solid var(--cont-title);
    display: flex;

}

.status-item {

    max-height: 50%;
    padding: 5%;
    border: 1.8px solid var(--cont-title);
    margin-top: 2%;

}

#tabelas {

    max-height: 50%;
    overflow-y: auto;
    display: flex;

}

#gavetas {

    color: var(--cont-title);
    width: 100%;
    max-height: 75%!important;
    overflow-y: auto;

}

#gavetas tbody{

    color: var(--light-text);

}

#acumulador {

    margin-left: auto;

}

#epi {

    margin-left: 50%;
    margin-right: auto;

}

#state {
    position: absolute;
    top: 1%;
    left: 40%;
    font-size: 2vw;
    padding: 0.35vw;
    width: auto;
    color: rgb(221, 221, 227);
    display: none;
    border-radius: 3.5%;
    z-index: 300;
}

#portaCartoes {

    margin-left: 3%;

}

.data-debug-dark {

    color: #FA8FF9 !important;

}

.inst-debug-dark {

    color: #4EE2FA !important;

}

.data-debug-light {

    color: #BBABF4  !important;

}

.inst-debug-light {

    color: #FAAB5A  !important;

}